@charset "UTF-8";
* {
  cursor: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 100px;
}

.line {
  width: 3px;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 2;
}

header {
  margin: 20px 20px 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid black;
  background-color: #fff;
  overflow-x: clip;
}
header .logoBox {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  border-right: 5px solid black;
}
header .logoBox a {
  font-size: 20px;
  font-weight: 700;
}
header .leftHeader {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 100px);
}
header .leftHeader .quoteBox {
  text-align: center;
}
header .leftHeader .quoteBox p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}
header .leftHeader .quoteBox p span.typed-text {
  font-weight: 800;
  color: #dd7732;
}
header .leftHeader .quoteBox p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}
header .leftHeader .quoteBox p span.cursor.typing {
  -webkit-animation: none;
          animation: none;
}
header .leftHeader .hamburger {
  display: block;
  position: absolute;
  z-index: 9;
  width: 1.8rem;
  height: 1.3rem;
  right: 5%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
header .leftHeader .hamburger span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  z-index: 9;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .leftHeader .hamburger .bar-3 {
  width: 80%;
}
@media (max-width: 1180px) {
  header .leftHeader .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .leftHeader .hamburger:hover {
    cursor: pointer; /*因為漢堡是div，游標盤旋在它上面不會變成手掌造型的pointer，所以要補上*/
  }
  header .leftHeader nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /*把標題跟連結改成直行排列*/
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 2rem;
  }
}
header .leftHeader .toggle .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-4.2px, 7px);
          transform: rotate(-45deg) translate(-4.2px, 7px); /*變成叉叉*/
}
header .leftHeader .toggle .bar-2 {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
header .leftHeader .toggle .bar-3 {
  -webkit-transform: rotate(405deg) translate(-7.4px, -7px) scaleX(125%);
          transform: rotate(405deg) translate(-7.4px, -7px) scaleX(125%);
}
@-webkit-keyframes typingEffect {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
@keyframes typingEffect {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
header .smBox {
  min-width: 150px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 1px solid #000;
}
header .smBox a {
  margin: 0 7px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #333;
  border-radius: 100%;
  font-size: 25px;
}
header .smBox a img {
  display: block;
  width: 100%;
}
header .nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border-left: 1px solid #000;
}
header .nav_menu ul {
  margin: -1px 0;
  margin-right: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid #000;
}
header .nav_menu ul li {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  width: 50%;
}
header .nav_menu ul li a {
  display: block;
  padding: 10px 8px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header .nav_menu ul li a:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 1180px) {
  header .smBox,
  header .nav_menu {
    display: none;
  }
  header .logoBox {
    border-bottom: 5px solid black;
    margin-bottom: -5px;
  }
  header .leftHeader {
    width: 100%;
  }
}
header .mobileNav {
  max-width: 480px;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
header .mobileNav ul {
  list-style: none;
  padding: 0;
  background-color: black;
}
header .mobileNav ul li {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
header .mobileNav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 1180px) {
  header .show {
    opacity: 1;
    right: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.mainArea {
  position: relative;
  height: 82vh;
  margin: 0 20px 0px 20px;
  border: 5px solid black;
  border-top: 0;
  overflow: hidden;
}

.shared {
  height: 100%;
  overflow-y: auto;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.cursor-dot.hovered {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.hide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}